body {
    background-color: antiquewhite;
    font-family: arial, helvetica, sans-serif;
    margin:0;

}
form {
    width:380px;
    height: 260px;;
    background-color: gray;
    margin: auto;
    text-align: center;
}
label {

    font-weight: bold;
}
input {
     font-size: 16px;
}
