<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
<div th:unless="${#lists.isEmpty(authroizes)}">
    <dl th:each="authroize : ${authroizes}">

        <dd class="bookDescription">
            <span th:if="${authroize.userRoleId}" th:text="${authroize.userRoleId}">userRoleId</span>
            <span th:if="${authroize.userRoleId eq null}">No role.userRoleId available</span>
        </dd>
        <dd class="bookDescription">
            <span th:if="${authroize.userId}" th:text="${authroize.userId}">userId</span>
            <span th:if="${authroize.userId eq null}">No role.userId available</span>
        </dd>
        <dd class="bookDescription">
            <span th:if="${authroize.userName}" th:text="${authroize.userName}">userName</span>
            <span th:if="${authroize.userName eq null}">No role.userName available</span>
        </dd>
        <dd class="bookDescription">
            <span th:if="${authroize.roleId}" th:text="${authroize.roleId}">roleId</span>
            <span th:if="${authroize.roleId eq null}">No role.roleId available</span>
        </dd>
        <dd class="bookDescription">
            <span th:if="${authroize.roleName}" th:text="${authroize.roleName}">roleId</span>
            <span th:if="${authroize.roleName eq null}">No role.roleName available</span>
        </dd>
    </dl>
</div>
<div th:if="${#lists.isEmpty(authroizes)}">
    <p>You have no authroizes in your authroizes list</p>
</div>
</body>
</html>
